enabled: true
existingSecret: gitea-runner-token
existingSecretKey: token
init:
  image:
    repository: alpine
    tag: latest
giteaRootURL: "https://git.athq.de"
actRunner:
  config: |
    log:
      level: debug
    cache:
      enabled: false
    container:
      valid_volumes:
        - /var/run/docker.sock
      options: -v /var/run/docker.sock:/var/run/docker.sock
statefulset:
  replicas: 3
