apiVersion: v1
kind: ConfigMap
metadata:
  name: haproxy-config
data:
  haproxy.cfg: |
    global
      maxconn 2048
      log stdout format raw local0
    defaults
      mode tcp
      timeout connect 5s
      timeout client  1h
      timeout server  1h

    frontend ysql_frontend
      bind *:5433
      default_backend ysql_backend

    backend ysql_backend
      balance roundrobin
      option tcp-check
      tcp-check connect
      tcp-check send "Q\x00\x00\x00\x04"
      tcp-check expect string R
      server yb1 10.0.0.1:5433 check inter 2s fall 2 rise 2
      server yb2 10.0.0.2:5433 check inter 2s fall 2 rise 2
      server yb3 10.0.0.3:5433 check inter 2s fall 2 rise 2
