apiVersion: apps/v1
kind: Deployment
metadata:
  name: yugabyte-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: yugabyte-proxy
  template:
    metadata:
      labels:
        app: yugabyte-proxy
    spec:
      containers:
        - name: haproxy
          image: haproxy:2.9
          ports:
            - containerPort: 5433
          volumeMounts:
            - name: haproxy-config
              mountPath: /usr/local/etc/haproxy
      volumes:
        - name: haproxy-config
          configMap:
            name: haproxy-config
