replicas: 1

persistence:
  enabled: false

env:
  GF_DATABASE_TYPE: postgres
  GF_DATABASE_HOST: 135.181.80.154:5432
  GF_SECURITY_ADMIN_USER: admin
  GF_DATABASE_SSL_MODE: require
  GF_DATABASE_SKIP_ADVISORY_LOCKS: true

envValueFrom:
  GF_DATABASE_NAME:
    secretKeyRef:
      name: grafana-k3s-db-secret
      key: db
  GF_DATABASE_USER:
    secretKeyRef:
      name: grafana-k3s-db-secret
      key: user
  GF_DATABASE_PASSWORD:
    secretKeyRef:
      name: grafana-k3s-db-secret
      key: password
  GF_SECURITY_ADMIN_PASSWORD:
    secretKeyRef:
      name: grafana-admin-secret
      key: password
  GF_OIDC_CLIENT_SECRET:
    secretKeyRef:
      name: grafana-oidc-config
      key: client-secret
  GF_OIDC_CLIENT_ID:
    secretKeyRef:
      name: grafana-oidc-config
      key: client-id

grafana.ini:
  server:
    root_url: https://grafana.rancher.katzencluster.atlantishq.de
    domain: grafana.rancher.katzencluster.atlantishq.de
  database:
    type: postgres
    host: 157.180.21.33:5432
    name: grafana
    user: $__env{GF_DATABASE_USER}
    password: $__env{GF_DATABASE_PASSWORD}
  auth:
    disable_login_form: true
    disable_signout_menu: false
  auth.generic_oauth:
    enabled: true
    name: Atlantis Accounts
    allow_sign_up: true
    client_id: $__env{GF_OIDC_CLIENT_ID}
    client_secret: $__env{GF_OIDC_CLIENT_SECRET}
    scopes: openid profile email
    email_attribute_name: email
    name_attribute_path: preferred_username
    groups_attribute_path: groups
    name_attribute_path: full_name
    auth_url: https://keycloak.atlantishq.de/realms/master/protocol/openid-connect/auth
    token_url: https://keycloak.atlantishq.de/realms/master/protocol/openid-connect/token
    api_url: https://keycloak.atlantishq.de/realms/master/protocol/openid-connect/userinfo
    role_attribute_path: contains(groups[*], 'atlantis-admins') && 'Admin' || 'Viewer'
  log:
    level: debug

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - grafana.rancher.katzencluster.atlantishq.de
  tls:
    - secretName: grafana-tls
      hosts:
        - grafana.rancher.katzencluster.atlantishq.de
