replicas: 1

persistence:
  enabled: false

env:
  - name: GF_DATABASE_TYPE
    value: postgres
  - name: GF_DATABASE_HOST
    value: 157.180.21.33:5432
  - name: GF_DATABASE_NAME
    value: grafana
  - name: GF_DATABASE_USER
    value: grafana
  - name: GF_DATABASE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: grafana-k3s-db-secret
        key: password
  - name: GF_SECURITY_ADMIN_USER
    value: admin
  - name: GF_SECURITY_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: grafana-admin-secret
        key: password
  - name: GF_OIDC_SECRET
    valueFrom:
      secretKeyRef:
        name: grafana-oidc-config
        key: password

grafana.ini:
  server:
    root_url: https://grafana.rancher.katzencluster.atlantishq.de
    domain: grafana.rancher.katzencluster.atlantishq.de
  database:
    type: postgres
    host: 157.180.21.33:5432
    name: grafana
    user: $__env{GF_DATABASE_USER}
    password: $__env{GF_DATABASE_PASSWORD}
  auth:
    disable_login_form: true
    disable_signout_menu: false
  auth.generic_oauth:
    enabled: true
    name: Atlantis Accounts
    allow_sign_up: false
    client_id: grafana
    client_secret: $__env{GF_DATABASE_PASSWORD}
    scopes: openid profile email groups
    auth_url: https://keycloak.atlantishq.de/realms/atlantis/protocol/openid-connect/auth
    token_url: https://keycloak.atlantishq.de/realms/atlantis/protocol/openid-connect/token
    api_url: https://keycloak.atlantishq.de/realms/atlantis/protocol/openid-connect/userinfo
    role_attribute_path: contains(groups[*], 'atlantis-admins') && 'Admin' || 'Viewer'

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
    - grafana.rancher.katzencluster.atlantishq.de
  tls:
    - secretName: grafana-tls
      hosts:
        - grafana.rancher.katzencluster.atlantishq.de
