oauth2Proxy:
  image: quay.io/oauth2-proxy/oauth2-proxy:latest
  redis:
    enabled: true
  redisUrl: redis://redis
  whitelistDomains: "keycloak.atlantishq.de sso.atlantishq.de sso.potaris.de"

  defaults:
    port: 4180
    scope: "openid email profile"
    provider: keycloak-oidc
    providerDisplayName: "AtlantisHQ Accounts"
    oidcEmailClaim: "sub"
    reverseProxy: "true"
    skipProviderButton: "true"

keycloak:
  issuerUrl: https://keycloak.atlantishq.de/realms/master
  address: keycloak.atlantishq.de
  realm: master

# Override this section per bundle
services:
  atlantis-hub:
    port: 80
    skips:
      - "/health"
      - "/metrics"
    secret_name: atlantis-hub-oidc-config
    address: hub.rancher.katzencluster.atlantishq.de
    namespace: sso
  atlantis-actions:
    port: 80
    skips:
      - "/health"
      - "/metrics"
    secret_name: atlantis-status-oidc-config
    address: atlantis-actions.rancher.katzencluster.atlantishq.de
    namespace: sso
  fa-metrics:
    port: 80
    skips:
      - "/api/gameinfo"
      - "/api/insert"
    secret_name: fa-metrics-oidc-config
    address: fa-metrics.rancher.katzencluster.atlantishq.de
    namespace: fa-metrics
