apiVersion: v1
data:
  index.html: |
    <!DOCTYPE html>
    <html>
    <head><title>Hello World from Kathi</title></head>
    <body>
      <h1>Hello from NGINX Ingress!</h1>
    </body>
    </html>
kind: ConfigMap
metadata:
  name: hello-world-html
  namespace: kathi
