vmselect:
  enabled: true
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  service:
    type: ClusterIP
    port: 8481
  persistentVolume:
    enabled: false  # vmselect doesn't need durable storage
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - name: vm-select.rancher.katzencluster.atlantishq.de
        path: /
    tls:
      - secretName: vm-select-tls
        hosts:
          - vm-select.rancher.katzencluster.atlantishq.de

vminsert:
  enabled: true
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  service:
    type: ClusterIP
    port: 8480
  persistentVolume:
    enabled: false
  args:
    - "-httpAuthBearerToken=$(INSERT_AUTH_TOKEN)"
    - "-httpAuth.username=vm"
    - "-httpAuth.password=$(INSERT_AUTH_TOKEN)"
  env:
    - name: INSERT_AUTH_TOKEN
      valueFrom:
        secretKeyRef:
          name: vm-insert-auth
          key: token
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - name: vm-insert.rancher.katzencluster.atlantishq.de
        path: /
    tls:
      - secretName: vm-tls
        hosts:
          - vm-insert.rancher.katzencluster.atlantishq.de

vmstorage:
  enabled: true
  replicaCount: 3
  extraArgs:
    httpAuthBearerToken: "$(INSERT_AUTH_TOKEN)"
    httpAuth.username: "vm"
    httpAuth.password: "$(INSERT_AUTH_TOKEN)"
  env:
    - name: INSERT_AUTH_TOKEN
      valueFrom:
        secretKeyRef:
          name: vm-insert-auth
          key: token
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 1
      memory: 1Gi
  persistentVolume:
    enabled: true
    size: 10Gi
    storageClass: longhorn
  retentionPeriod: 365d
  service:
    type: ClusterIP
    ports:
      - name: ingestion
        port: 8400
        targetPort: 8400
      - name: internal
        port: 8401
        targetPort: 8401
      - name: replication
        port: 8402
        targetPort: 8402

serviceMonitor:
  enabled: false
ingress:
  enabled: false
